.container {
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.container .select-profile {
    width: fit-content;
    padding-left: 5%;
    padding-top: 2.5%;
}
.container .advice {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container .advice .icon {
    width: 20%;
    object-fit: contain;
    padding-bottom: 2.5%;
}
.container .message-box{
    width: 80%;
    height: 10%;
    border: 1px solid var(--seccondary-font-color);
    border-radius: 25px;
    justify-self: end;
    align-self: center;
}